/* Resest */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/*
1.từ ngoài vào trong 
2.từ trên xuống dưới
3.tông quan đến chi tiết
*/
/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng( kiểu chữ, hình tròn, hình vuông, ... )
*/
.clear {
    clear: both;
}

#main{

}
#header {
    height: 46px;
    background-color:  #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1; /* hiển thị phía trên cùng */
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none; /* không có dấu chấm */
}

#nav > li {
    display:inline-block; /* hiển thị theo chiều ngang */
}

#nav li {
    position: relative;
}

#nav> li > a {
    color: #fff;
    text-transform: uppercase; /* chuyển chữ hoa */
}

#nav li a {
    text-decoration:none ; /* không gạch chân */
    line-height: 46px;
    padding:0 24px;
    display:inline-block;
    color:#cccccc;

}

#nav li:hover a {
    color:#000;
    background-color: #cccccc;

}

#nav li:hover .subnav {
    display: block; /* hiện subnav */
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#000000;
    background-color:#cccccc
}

#nav li:hover a {
    /* color: #000;
    background-color: #ccc */
    display: block;

}
#nav .subnav {
    display:none; /* ẩn subnav */
    position:absolute;
    background-color: #ffffff;
    top:100%;
    min-width: 160px;
    left:0%;
}

.subnav {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2) /* tạo bóng */
}

#nav .subnav a{
    color:#000; 
    padding:0 12px;
    line-height: 38px;
}

#nav li:hover .subnav li a:hover {
    background-color: #dddddd
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float:right; /* nổi phần tử sang phải */
    padding:0 21px;
}

#header .search-icon {
    color:#fff;
    font-size:20px ;
    line-height: 46px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer; /* con trỏ chuột */
}

#slider{
   
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    
}

#slider .text-content{
    position: absolute;
    bottom: 47px; /* cách bottom 47px */
    color: #fff;
    width: 100%;
    text-align: center;

}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 20px;
}

#content .content-section{
    width:800px;
    padding: 64px 0;    
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
   
    z-index: 1;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px; /* khoảng cách giữa các chữ cái */
    
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center; /* căn giữa */
    margin-top: 25px;
    font-style: italic; /* in nghiêng */
    opacity: 0.6; /* độ mờ  */
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4; /* khoảng cách giữa các dòng */
    
}

#content .member-list{
    margin-top: 48px;
    
}

#content .member-item {
    float: left; /* nổi phần tử sang trái */
    text-align: center;
    width: 33,333% ;

}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px; /* bo tròn */
}

#footer{

}
